{%extends "layout_thebestof.html"%}

{%block content%}

<body > 
    
    <h2 > Why was this website made?  </h2>

    <p>    To develop a working knowledge of full-stack web development. Going into the project I could use python and VBA, that's it. No bootcamp.
            
        In the search of project ideas, I came across <a href="http://playlistminer.playlistmachinery.com/# ">PlaylistMiner</a>. It inspired me to create a clone with the same functionality 
        because it's a simple project. I could focus on the learning the various aspects over the engineering complexity. 
        
        Also, to make awesome playlists really quickly!
    </p>

    <h2> Did I learn?</h2>

    <p> Yup, through trial and error. 
        
        <br>
        
        HTML, CSS, Flask,  RESTful API, SQL, GIT,MVC, OAuth2.0, HTTP requests, Cloud hosting + deployment
        <br>
        Focused on writing clean, modular, testable code.
    
        <br>
        For anyone curious in the general steps, I wrote some details about my process in this quick <a href=""> article</a>.
    </p>
    
    



    

</body>


{% endblock %}
