{%extends "layout_thebestof.html"%}

{%block content%}

<body>
    
    <h1> The Best of Playlists: Artists, Genres, Mood</h1>
    
    <h3> The best DJ is everyone! Make playlists for all occasions with ease!</h3>
    <p>  Find popular tracks from popular playlists. </p>
    <p> To get started, log into Spotify. Don't worry, Spotify keeps your account information safe!</p>
    
    
    <form action="/auth" >
        <input type="submit" id="submit" value="LOGIN WITH SPOTIFY"/>
    </form>
</body>




{%endblock%}

