<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Best Playlists:</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap" rel="stylesheet">

</head>

<body.table>
    <table>
    <thead>
        <tr>
            <th>Playlist name</th>
            <th>URI</th>
            <th># of Songs</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>sleep</td>
            <td>5iMpCoNL472qwqAd7FTJpz</td>
            <td>300</td>
        </tr>
        <tr>
            <td>Sleep</td>
            <td>37i9dQZF1DWZd79rJ6a7lp</td>
            <td>301</td>
        </tr>
        <tr>
            <td>Sleepy Piano</td>
            <td>37i9dQZF1DX03b46zi3S82</td>
            <td>173</td>
        </tr>
        <tr>
            <td> Baby Sleep"</td>
            <td>37i9dQZF1DXdJ5OFSzWeCS</td>
            <td>144</td>
        </tr>
        <tr>
            <td>Sleep Tight</td>
            <td>37i9dQZF1DWSUFOo47GEsI</td>
            <td>170</td>
        </tr>
        <tr>
            <td>Sleep Piano Music</td>
            <td>7xhcF9ddiyF8Skbd1tenro</td>
            <td>387</td>
        </tr>
        <tr>
            <td>Sleep Lofi - Chillhop & Lo-fi Hip Hop</td>
            <td>4Zi3PGzcLga2wMFn2d5jte</td>
            <td>40</td>
        </tr>
        <tr>
            <td>Deep Sleep</td>
            <td>37i9dQZF1DWYcDQ1hSjOpY</td>
            <td>261</td>
        </tr>
        <tr>
            <td>Baby Sleep</td>
            <td>37i9dQZF1DX0DxcHtn4Hwo</td>
            <td>211</td>
        </tr>
    </tbody>
    </table>    
</body>
</html>
